body{
    margin: 0;
    font-family: 'Spline Sans', sans-serif;
}
section{
    height:1000px;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.top-banner .half-width{
    padding-top: 300px;
}
.half-width{
    
    width: 35%;
    margin-left: 7%;
    float: left;
    padding-left: 3%;
}
.half-width img{
    width: 100%;
}
#topBanner-leftitem{
    padding-top: 400px;
}
h2{
    font-size: 40px;
    font-weight: 400;
}
h1{
    font-size: 55px;
    margin-top:-20px ;
    font-weight: 700;
    letter-spacing: 2px;
    color:#ec4c7a;
}
p{
    color: gray;
    font-weight: 400;
}
.ancor-btn{
    text-decoration: none;
    background: linear-gradient(#ec5197, #ed4b70);
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}
.bigraphy-area{
    background: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.bigraphy-area .half-width{
    padding-top:100px;
}
#bigraphy_item-p{
    padding-top: 300px;
}
.latest_Work{
    background: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    height: 500px;
}
.latest_Work h2, .client-area h2{
    text-align: center;
    font-weight: 500;
}
.three-item{
    width: 27%;
    margin-left: 3%;
    float: left;
}
.three-item img{
    width: 100%;
}
.client-area{
    background: url("images/footer-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 600px;

}
.client-area div{
    text-align: center;
}
.founder-ceo h3{
    padding-top: 30px;
    margin: 0;
}
.founder-ceo p{
    font-size: 14px;
}
.client-area .tagline{
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 60px;
}
.mail-area{
    width: 40%;
    padding: 20px 60px;
    border-radius: 5px;
    background: linear-gradient(145deg,#ec5298,#ed4b6f );
    margin: auto;

}
.mail-area p{
    color: white;
}
.mail-area h4{
    color: white;
    font-size: 30px;
}
footer p{
    font-size: 12px;
    text-align: center;
}